.main{
    display: flex;
    height: 200px;
    width: 200px;
    margin: 120px;
    flex-wrap: wrap;
}

.transition_1 {
 height: 100px;
 width: 100px;
 background-color: red;
}

.body {
    position: relative;
}

.main > div {
    position: relative;
}

.main:hover > .transition_1 {
    cursor: pointer;
    animation: transition1 10s  alternate;
    transition-property: transform;
}

.main:hover > .transition_2 {
    cursor: pointer;
    animation: transition2 10s  alternate;
    transition-property: transform;
}

.main:hover > .transition_3 {
    cursor: pointer;
    animation: transition3 10s  alternate;
    transition-property: transform;
}

.main:hover > .transition_4 {
    cursor: pointer;
    animation: transition4 10s  alternate;
    transition-property: transform;
}

@keyframes transition1 {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(60deg);
    }
}

@keyframes transition2 {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotateZ(-60deg);
    }
}

@keyframes transition3 {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotateZ(-60deg);
    }
}

@keyframes transition4 {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotateZ(-60deg);
    }
}


.text {
    position: absolute;
    padding: 93px 0px 0px 208px;
}

.main:hover > text {
    position: absolute; 
    margin: 120px;
    visibility: inherit;
}

.transition_2 {
    height: 100px;
    width: 100px;
    background-color: yellow;
}

.transition_3 {
    height: 100px;
    width: 100px;
    background-color: blue;
}

.transition_4 {
    height: 100px;
    width: 100px;
    background-color: green;
}