.title {
    animation: travel 20s ease-in-out infinite;
    background-image: "furniture.jpg";
    /* height: 25%; */
    /* background-color: pink; */
}

@keyframes travel {
    0% {
        transform: translate3d(0,0,0);
    }
    50% {
        transform: translate3d(-100%,0,0);
    }
    100% {
        transform: translate3d(100%,0,0);
    }
}

.heading {
    background-color: black;
    color: white;
    font-size: xx-large;
    border: 10px;
    position: absolute;
    height: 90px;
    width: 280px;
    display: flex;
    margin: -147px 0px 0px 590px;
}

.heading > span {
    align-self: center;
    padding: 12px;
}

.description {
    color: #cbbebe;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 20px;
    font-size: large;
}

.details {
    display: flex;
}

.titleClass {
    margin: 10px;
    font-size: 25px;
    text-decoration: underline;
}

.items {
    margin: 60px;
}

.contactUs {
    background-color: antiquewhite;
}

.form {
    margin: 10px;
}

.form > button {
    margin: 10px 10px 10px 10px;
}

footer {

    color: white;
    background-color: rgb(28, 26, 26);
}

footer > div {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* background-color: red; */
    /* color: white; */
    text-align: center;
    /* flex-shrink: initial; */
    margin: 10px 130px 10px 20px;
}

.itemDetailsPage {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 450px;
}